<template>
  <div>
    <el-form-item label="Attachement" prop="file1">
      <el-upload
        :multiple="false"
        :auto-upload="false"
        :limit="1"
        :file-list="fileList"
        :on-remove="onRemoved"
        :on-change="onChanged"
        class="upload-demo"
        drag
        action="https://jsonplaceholder.typicode.com/posts/"
      >
        <i class="el-icon-upload"/>
        <div class="el-upload__text">
          Drop file here or
          <em>click to upload</em>
        </div>
        <div slot="tip" class="el-upload__tip">jpg/png/pdf files with a size less than 5MB</div>
      </el-upload>
    </el-form-item>
  </div>
</template>
<script>
export default {
  name: 'CreateRequestAttachment',
  data() {
    return {
      file: '',
      fileList: []
    };
  },
  computed: {},
  methods: {
    onRemoved() {
      this.file = '';
      this.$emit('attachementChange', this.file);
    },
    onChanged(file, fileList) {
      this.file = file;
      this.fileList = fileList;
      this.$emit('attachementChange', this.file);
    }
  }
};
</script>
