<template>
  <el-menu
    :default-active="activeIndex2"
    class="align-start-start"
    mode="horizontal"
    background-color="#545c64"
    text-color="#fff"
    active-text-color="#ffd04b"
  >
    <el-menu-item index="1">
      <nuxt-link :to="{ path: '/'}">Albanero Test</nuxt-link>
    </el-menu-item>
    <el-menu-item index="2" v-if="!isAuthenticated">
      <nuxt-link :to="{ path: '/signup'}">Sign up</nuxt-link>
    </el-menu-item>
    <el-menu-item index="3" v-if="!isAuthenticated">
      <nuxt-link :to="{ path: '/login'}">Sign in</nuxt-link>
    </el-menu-item>
    <el-menu-item index="4" v-if="isAuthenticated && loggedInUser.data.buyer == 'manufacturer'">
      <nuxt-link :to="{path: '/profile/manufacturer/create-request'}">Create</nuxt-link>
    </el-menu-item>
    <el-menu-item index="5" v-if="isAuthenticated && loggedInUser.data.buyer == 'manufacturer'">
      <nuxt-link :to="{path: '/profile/manufacturer/view-request'}">View</nuxt-link>
    </el-menu-item>
    <el-menu-item index="6" v-if="isAuthenticated && loggedInUser.data.buyer == 'supplier'">
      <nuxt-link :to="{path: '/profile/supplier/view-request'}">View</nuxt-link>
    </el-menu-item>
    <el-menu-item index="7" v-if="isAuthenticated">
      <el-button type="text" @click="signout">Log out</el-button>
    </el-menu-item>
  </el-menu>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {
      activeIndex: '1',
      activeIndex2: '1'
    };
  },
  computed: {
    ...mapGetters(['loggedInUser']),
    ...mapState({
      loading: state => state.loading,
      error: state => state.errorMsg,
      success: state => state.successMsg,
      isAuthenticated: state => state.auth.loggedIn
    })
  },
  methods: {
    ...mapActions(['logout']),
    signout() {
      this.logout()
        .then(() => {
          console.log('success logout');
          this.$router.replace({ path: '/' });
        })
        .catch(() => {
          console.log('error');
          this.$message.error(this.error);
        });
    }
  }
};
</script>
