<template>
  <div class="request">
    <el-row :gutter="10" justify="center" align="middle" type="flex">
      <el-col :xs="22" :sm="14" :md="10" :lg="10" :xl="6" style="max-width:1500px;">
        <el-card class="box-card" shadow="never">
          <h2 align="center">Create a new Request</h2>
          <el-form ref="form" :model="createRequestForm" label-width="150px">
            <el-form-item size="small" label="Supplier Name">
              <el-input v-model="createRequestForm.supplierName"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Supplier Email">
              <el-input type="email" v-model="createRequestForm.supplierEmail"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Supplier Contact">
              <el-input v-model="createRequestForm.supplierContact"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Material Name">
              <el-input v-model="createRequestForm.materialName"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Material Part Number">
              <el-input v-model="createRequestForm.materialPartNumber"></el-input>
            </el-form-item>
            <!-- <attachement-doc @attachementChange="attachementChange"/> -->
            <el-form-item size="small">
              <el-button type="primary" @click="onSubmit">Create</el-button>
              <el-button>Cancel</el-button>
            </el-form-item>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
// import CreateRequestAttachment from '@/components/CreateRequestFile';

export default {
  middleware: 'auth',
  // components: {
  //   'attachement-doc': CreateRequestAttachment
  // },
  data() {
    return {
      createRequestForm: {
        supplierName: '',
        supplierEmail: '',
        supplierContact: '',
        materialName: '',
        materialPartNumber: ''
      }
    };
  },
  computed: {
    ...mapGetters(['loggedInUser']),
    ...mapState({
      loading: state => state.loading,
      error: state => state.errorMsg,
      success: state => state.successMsg
    })
  },
  methods: {
    ...mapActions(['createRequest']),
    // attachementChange(val) {
    //   this.createRequestForm.attachement = val;
    // },
    onSubmit() {
      this.createRequestForm.createdBy = this.loggedInUser.data.email;
      this.createRequestForm.manufacturerAddress =
        this.loggedInUser.data.state + ', ' + this.loggedInUser.data.country;
      this.createRequest(this.createRequestForm)
        .then(() => {
          console.log('success');
          this.$router.replace({ path: '/profile' });
        })
        .catch(() => {
          console.log('error');
          this.$message.error(this.error);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.select {
  width: 100%;
}
.request {
  min-height: calc(100vh - 100px);
  padding-top: 1rem;
  overflow-x: hidden;
}
.checkbox-tnc {
  padding: 0;
  line-height: 1.5;
  text-align: left;
}
.password-score {
  max-width: 250px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}
el-select el-input {
  width: 70px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
</style>
