<template>
  <div class="pending-request">
    <el-row :gutter="10" justify="center" align="middle" type="flex">
      <el-col :xs="22" :sm="14" :md="10" :lg="10" :xl="6" style="width:1000px;">
        <el-card>
          <h2 align="center">Accepted Requests</h2>
          <el-table :data="acceptedRequests" size="small" style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <p>Manufacturer Address: {{ props.row.manufacturerAddress }}</p>
                <p>Supplier Email: {{ props.row.supplierEmail }}</p>
                <p>Supplier Contact: {{ props.row.supplierContact }}</p>
                <p>Supplier Address: {{ props.row.supplierAddress }}</p>
                <p>Status: {{ props.row.status }}</p>
                <el-row>
                  <el-button type="primary" @click="getRequest(props.row._id)">View Details</el-button>
                </el-row>
              </template>
            </el-table-column>
            <el-table-column label="Request ID" prop="_id"></el-table-column>
            <el-table-column label="Supplier Name" prop="supplierName"></el-table-column>
            <el-table-column label="Material Name" prop="materialName"></el-table-column>
            <el-table-column label="Material Part Number" prop="materialPartNumber"></el-table-column>
          </el-table>
        </el-card>
        <br>
        <el-card>
          <h2 align="center">Pending Requests</h2>
          <el-table :data="pendingRequests" size="small" style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <p>Manufacturer Address: {{ props.row.manufacturerAddress }}</p>
                <p>Supplier Email: {{ props.row.supplierEmail }}</p>
                <p>Supplier Contact: {{ props.row.supplierContact }}</p>
                <p>Supplier Address: {{ props.row.supplierAddress }}</p>
                <p>Status: {{ props.row.status }}</p>
              </template>
            </el-table-column>
            <el-table-column label="Request ID" prop="_id"></el-table-column>
            <el-table-column label="Supplier Name" prop="supplierName"></el-table-column>
            <el-table-column label="Material Name" prop="materialName"></el-table-column>
            <el-table-column label="Material Part Number" prop="materialPartNumber"></el-table-column>
          </el-table>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  middleware: 'auth',
  data() {
    return {
      pendingRequests: [],
      acceptedRequests: []
    };
  },
  computed: mapState({
    loading: state => state.loading,
    error: state => state.errorMsg,
    success: state => state.successMsg
  }),
  beforeMount() {
    this.getPendingRequests();
    this.getAcceptedRequests();
  },
  methods: {
    ...mapActions([
      'viewManufacturerPendingRequests',
      'viewManufacturerAcceptedRequests',
      'viewRequest'
    ]),
    getPendingRequests() {
      this.viewManufacturerPendingRequests()
        .then(data => {
          this.pendingRequests = data.requests;
          console.log('success');
        })
        .catch(() => {
          console.log('error');
          this.$message.error(this.error);
        });
    },
    getAcceptedRequests() {
      this.viewManufacturerAcceptedRequests()
        .then(data => {
          this.acceptedRequests = data.requests;
          console.log('success');
        })
        .catch(() => {
          console.log('error');
          this.$message.error(this.error);
        });
    },
    getRequest(id) {
      this.viewRequest(id)
        .then(() => {
          console.log('success');
          this.$router.push('/profile/get-request');
        })
        .catch(() => {
          console.log('error');
          this.$message.error(this.error);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.select {
  width: 100%;
}
.pending-request {
  min-height: calc(100vh - 100px);
  padding-top: 1rem;
  overflow-x: hidden;
}
.checkbox-tnc {
  padding: 0;
  line-height: 1.5;
  text-align: left;
}
.password-score {
  max-width: 250px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}
el-select el-input {
  width: 70px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
</style>
