<template>
  <div class="pending-request">
    <el-row :gutter="10" justify="center" align="middle" type="flex">
      <el-col :xs="22" :sm="14" :md="10" :lg="10" :xl="6" style="width:1000px;">
        <el-card>
          <el-row :gutter="20">
            <el-col :span="8">
              <h4>Request ID:</h4>
              <p>{{requestDetails._id}}</p>
            </el-col>
            <el-col :span="8">
              <h4>Supplier Name:</h4>
              <p>{{requestDetails.supplierName}}</p>
            </el-col>
            <el-col :span="8">
              <h4>Supplier Email:</h4>
              <p>{{requestDetails.supplierEmail}}</p>
            </el-col>
            <el-col :span="8">
              <h4>Supplier Contact:</h4>
              <p>{{requestDetails.supplierContact}}</p>
            </el-col>
            <el-col :span="8">
              <h4>Material Name:</h4>
              <p>{{requestDetails.materialName}}</p>
            </el-col>
            <el-col :span="8">
              <h4>Material Part Number:</h4>
              <p>{{requestDetails.materialPartNumber}}</p>
            </el-col>
            <el-col :span="8">
              <h4>Manufacturer Address:</h4>
              <p>{{requestDetails.manufacturerAddress}}</p>
            </el-col>
            <el-col :span="8">
              <h4>Supplier Address:</h4>
              <p>{{requestDetails.supplierAddress}}</p>
            </el-col>
          </el-row>
        </el-card>
        <br>
        <el-button
          type="primary"
          align="center"
          v-if="!isLocationEnable"
          @click="getLocation"
          plain
        >View Map</el-button>
        <el-card v-if="isLocationEnable">
          <gmap-map :center="center" :zoom="4" style="width: 100%; height: 400px">
            <gmap-marker
              :key="index"
              v-for="(m, index) in markers"
              :position="m.position"
              :clickable="true"
            ></gmap-marker>
          </gmap-map>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      center: { lat: 10.0, lng: 10.0 },
      markers: [
        // {
        //   position: { lat: 10.0, lng: 10.0 }
        // }
      ],
      isLocationEnable: '',
      supplierAddress: [],
      manufacturerAddress: []
    };
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      error: state => state.errorMsg,
      success: state => state.successMsg,
      requestDetails: state => state.manufacturer.requestDetails
    })
  },
  beforeMount() {
    this.getSupplierLocation();
    this.getManufacturerLocation();
  },
  methods: {
    ...mapActions(['getCoordinates']),
    getLocation() {
      if (this.supplierAddress) {
        this.center = this.supplierAddress[0].geometry.location;
        this.markers.push({ position: this.center });
      }
      if (this.manufacturerAddress) {
        this.markers.push({
          position: this.manufacturerAddress[0].geometry.location
        });
      }
      this.isLocationEnable = true;
    },
    getSupplierLocation() {
      this.getCoordinates({ address: this.requestDetails.supplierAddress })
        .then(result => {
          console.log('success');
          this.supplierAddress = result;
        })
        .catch(() => {
          console.log('error');
        });
    },
    getManufacturerLocation() {
      this.getCoordinates({ address: this.requestDetails.manufacturerAddress })
        .then(result => {
          console.log('success');
          this.manufacturerAddress = result;
        })
        .catch(() => {
          console.log('error');
        });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
