<template>
  <div class="profile">
    <el-row :gutter="10" justify="center" align="middle" type="flex">
      <el-col :xs="22" :sm="14" :md="10" :lg="10" :xl="6" style="max-width:1500px;">
        <el-card class="box-card" shadow="never">
          <el-row>
            <el-col
              :span="8"
            >Name: {{loggedInUser.data.firstName + " " + loggedInUser.data.lastName }}</el-col>
            <el-col :span="8">Email: {{loggedInUser.data.email }}</el-col>
            <el-col
              :span="8"
            >Address: {{loggedInUser.data.state + ", " + loggedInUser.data.country }}</el-col>
          </el-row>
          <br>
          <el-row>
            <el-col :span="8">Company Name: {{loggedInUser.data.companyName}}</el-col>
            <el-col :span="8">Company Contact: {{loggedInUser.data.companyContact }}</el-col>
            <el-col :span="8">User Type: {{loggedInUser.data.buyer }}</el-col>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  middleware: 'auth',
  data() {
    return {};
  },
  computed: mapState({
    loading: state => state.loading,
    error: state => state.errorMsg,
    success: state => state.successMsg,
    loggedInUser: state => state.auth.user
  }),
  methods: {}
};
</script>

<style lang="scss" scoped>
.select {
  width: 100%;
}
.profile {
  min-height: calc(100vh - 100px);
  padding-top: 1rem;
  overflow-x: hidden;
}
.checkbox-tnc {
  padding: 0;
  line-height: 1.5;
  text-align: left;
}
.password-score {
  max-width: 250px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}
el-select el-input {
  width: 70px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
</style>
