<template>
  <div v-loading.fullscreen.lock="isLoading" :class="theme">
    <v-nav/>
    <nuxt/>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import Navigation from '@/components/Navigation';

export default {
  components: {
    'v-nav': Navigation
  },
  data() {
    return {
      isCompress: false,
      isLoading: true,
      theme: ''
    };
  },
  computed: {
    ...mapState({})
  },
  beforeMount() {},
  mounted() {
    this.isLoading = false;
  }
};
</script>
