<template>
  <div>
    <header class="bg-image">
      <div class="container">
        <h1>Albanero Test</h1>
        <h2>Order | Manage | Track</h2>
        <nuxt-link :to="{ path: '/signup'}" class="btn btn-transparent">Sign up here</nuxt-link>
      </div>
    </header>

    <section class="section--primary">
      <div class="container">
        <div class="col-3 features">
          <i class="fa fa-bolt"></i>
          <p>"Track your orders"</p>
        </div>
        <div class="col-3 features">
          <i class="fa fa-bank"></i>
          <p>This is why it's great. You can execute order and track and get realtime notifications.</p>
        </div>
        <div class="col-3 features">
          <i class="fa fa-heart"></i>
          <p>Still curious? Find out more by clicking on the link.</p>
        </div>
      </div>
    </section>

    <section class="section--primary--light">
      <div class="container">
        <blockquote class="testimonial">
          <p>“Let our advance worrying become advance thinking and planning.”</p>
          <cite>Winston Churchill</cite>
        </blockquote>
      </div>
    </section>

    <section class="text--center">
      <div class="container">
        <h3>Make your supply orders tracking easier.</h3>
        <nuxt-link :to="{path: '/profile'}" class="btn">Track your order!</nuxt-link>
      </div>
    </section>

    <footer>
      <div class="container">
        <ul>
          <li>
            <a href="#">Weblinks</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Mainpage</a>
          </li>
        </ul>
        <p>&copy; 2018 Sudhir Meena, Software Engineer.</p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'home',
  layout: 'home'
};
</script>

<style lang="scss" scoped>
$color-red: #cc615f;
$color-grey: #1c262b;
$color-grey--light: #29363e;

$color-orange: #e6ac5e;
$color-blue: #007ece;
$color-green: #8fca53;
$color-purple: #68647c;
$color-gold: #efb05a;

$color-primary: $color-grey;

$bp-s: 43.75em; //700px;
$bp-xs: 34.375em; //550px;

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

@import url('//fonts.googleapis.com/css?family=Open+Sans:400, 700, 800, 300');

* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.45;
  color: #141414;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  background: $color-primary;
  letter-spacing: 0.02em;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem 0.9rem;
  text-shadow: 0 1px rgba(black, 0.3);
  box-shadow: 0 0 2px rgba(black, 0.2);

  @media (max-width: $bp-s) {
    padding: 0.5rem 0.7rem 0.6rem;
    font-size: 1rem;
  }

  &:hover {
    background: lighten($color-primary, 5%);
    color: #fff;
  }
  &:focus,
  &:active,
  &:focus:active {
    background: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
    box-shadow: 0 2px 5px 0 rgba(black, 0.5) inset;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

header {
  color: white;
  background: $color-primary;
  padding: 10rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (max-width: $bp-s) {
    padding: 2rem 0;
  }

  h1 {
    font-size: 3rem;
    margin: 0 0 1rem;

    @media (max-width: $bp-s) {
      font-size: 2rem;
    }
  }
  h2 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 0 1rem;

    @media (max-width: $bp-s) {
      font-size: 1.5rem;
    }
  }
}

section {
  background: #fff;
  color: $color-grey;
  padding: 3.5rem 0;

  @media (max-width: $bp-s) {
    padding: 2rem 0;
  }

  &.section--primary {
    background: $color-primary;
    color: #fff;
  }
  &.section--primary--alt {
    background: desaturate(lighten($color-primary, 15%), 10%);
    color: #fff;
  }
  &.section--primary--light {
    background: rgba(
      $color-primary,
      0.1
    ); //desaturate(lighten(mix($color-primary,white),10%),10%);
  }

  &.section--grey {
    background: $color-grey;
    color: #fff;
  }
  &.section--grey--light {
    background: $color-grey--light;
    color: #fff;
  }

  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1rem;

    @media (max-width: $bp-s) {
      font-size: 1.5rem;
    }
  }

  li {
    font-size: 1.2rem;
    font-weight: 300;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.col {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}
.col-7 {
  @extend .col;
  width: 64%;

  @media (max-width: $bp-s) {
    width: 100%;
    margin: 0;
  }
}
.col-3 {
  @extend .col;
  width: 29%;

  @media (max-width: $bp-s) {
    width: 100%;
    margin: 0;
  }
}
.col-5 {
  @extend .col;
  width: 30%;

  @media (max-width: $bp-xs) {
    width: 60%;
    margin: 0;
  }
}

.details {
  text-align: left;

  h3 {
    font-size: 2rem;
    text-align: left;
  }
}
.details-img--ball {
  @media (max-width: $bp-s) {
    height: 200px;
    width: auto;
    margin: 0 auto;
  }
}
.features {
  text-align: center;
  padding: 1rem;

  &:hover {
    background: rgba(white, 0.1);
  }

  @media (max-width: $bp-s) {
    width: 100%;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid rgba(white, 0.2);

    &:last-child {
      border: none;
    }
  }

  i {
    font-size: 4rem;
    margin: 0 0 2rem 0;

    @media (max-width: $bp-s) {
      font-size: 1.5rem;
      width: 2rem;
      text-align: center;
      margin: 0 0 1rem 0;
      float: left;
    }
  }

  p {
    margin: 0 0 1rem 0;
    font-size: 1rem;

    @media (max-width: $bp-s) {
      margin-left: 3rem;
    }
  }
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;

  &:before {
    display: inline-block;
    color: $color-primary;
    font-size: 2rem;
    content: '\201C';
  }

  p {
    margin: 0;
    display: inline;
    font-size: 1.5rem;

    @media (max-width: $bp-s) {
      font-size: 1.2rem;
    }
  }

  cite {
    font-size: 1rem;
    display: block;
    margin: 0.5rem 0 0 1.2rem;
    text-style: italic;

    @media (max-width: $bp-s) {
      font-size: 0.8rem;
    }

    &:before {
      content: '–';
    }
  }
}

footer {
  background: #2d2b2a;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(white, 0.4);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
        text-decoration: none;
        color: rgba(white, 0.7);

        &:hover {
          color: white;
        }
      }
    }
  }
}

.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
.bg-image {
  background: $color-primary;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  //text-shadow: 2px 0 5px black;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #333
      url('https://online.kettering.edu/sites/default/files/styles/blogfeature_large/public/field/image/kuo-supply-chain-management.jpg?itok=ap7F45Md')
      no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px);
    opacity: 0.8;
    transform: scale(1.1);
  }

  &.bg-image-2:before {
    opacity: 0.6;
    background-image: url('https://online.kettering.edu/sites/default/files/styles/blogfeature_large/public/field/image/kuo-supply-chain-management.jpg?itok=ap7F45Md');
    background-position: center center;
  }
}
</style>
