<template>
  <div class="login">
    <el-row :gutter="10" justify="center" align="middle" type="flex">
      <el-col :xs="22" :sm="14" :md="10" :lg="10" :xl="6" style="max-width:800px;">
        <el-card class="box-card" shadow="never">
          <h2 align="center">Login to Albanero Test</h2>
          <nuxt-link :to="{path: '/signup'}">
            <p align="center">Didn't have an account? Create one.</p>
          </nuxt-link>
          <el-form ref="form" :model="loginForm" label-width="100px">
            <el-form-item size="small" label="Email">
              <el-input type="email" v-model="loginForm.email"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Password">
              <el-input type="password" v-model="loginForm.password"></el-input>
            </el-form-item>
            <el-form-item size="small">
              <el-button type="primary" @click="onSubmit">Login</el-button>
              <el-button>Cancel</el-button>
            </el-form-item>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      loginForm: {
        email: '',
        password: ''
      }
    };
  },
  computed: mapState({
    loading: state => state.loading,
    error: state => state.errorMsg,
    success: state => state.successMsg
  }),
  methods: {
    ...mapActions(['login']),
    onSubmit() {
      this.login(this.loginForm)
        .then(() => {
          console.log('success');
          this.$message({
            message: 'Logged in successfully',
            type: 'success'
          });
          this.$router.push('/profile');
        })
        .catch(() => {
          console.log('error');
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.select {
  width: 100%;
}
.login {
  min-height: calc(100vh - 100px);
  padding-top: 1rem;
  overflow-x: hidden;
}
.checkbox-tnc {
  padding: 0;
  line-height: 1.5;
  text-align: left;
}
.password-score {
  max-width: 250px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}
el-select el-input {
  width: 70px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
</style>
