<template>
  <div class="register">
    <el-row :gutter="10" justify="center" align="middle" type="flex">
      <el-col :xs="22" :sm="14" :md="10" :lg="10" :xl="6" style="width:600px;">
        <el-card class="box-card" shadow="never">
          <h2 align="center">Create a new Account</h2>
          <p>To order/track your supply and manufacture orders and requests</p>
          <el-form ref="form" :model="registerForm" label-width="150px">
            <el-form-item size="small" label="First Name">
              <el-input v-model="registerForm.firstName"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Last Name">
              <el-input v-model="registerForm.lastName"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Email">
              <el-input type="email" v-model="registerForm.email"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Password">
              <el-input type="password" v-model="registerForm.password"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Country">
              <el-select v-model="registerForm.country" placeholder="please select your country">
                <el-option label="India" value="india"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item size="small" label="State">
              <el-select v-model="registerForm.state" placeholder="please select your state">
                <el-option label="Rajasthan" value="rajasthan"></el-option>
                <el-option label="Gujarat" value="gujarat"></el-option>
                <el-option label="Haryana" value="haryana"></el-option>
                <el-option label="Delhi" value="delhi"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item size="small" label="Company Name">
              <el-input v-model="registerForm.companyName"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Company Contact">
              <el-input v-model="registerForm.companyContact"></el-input>
            </el-form-item>
            <el-form-item size="small" label="Buyer">
              <el-select v-model="registerForm.buyer" placeholder="please select your type">
                <el-option label="Manufacturer" value="manufacturer"></el-option>
                <el-option label="Supplier" value="supplier"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Select Categories" v-if="isBuyerSupplier">
              <el-checkbox-group v-model="registerForm.categoryIDs">
                <el-checkbox label="Online activities" name="categoryIDs"></el-checkbox>
                <el-checkbox label="Promotion activities" name="categoryIDs"></el-checkbox>
                <el-checkbox label="Offline activities" name="categoryIDs"></el-checkbox>
                <el-checkbox label="Simple brand exposure" name="categoryIDs"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item size="small">
              <el-button type="primary" @click="onSubmit">Create</el-button>
              <el-button>Cancel</el-button>
            </el-form-item>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      registerForm: {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        country: '',
        state: '',
        buyer: '',
        companyName: '',
        companyContact: '',
        categoryIDs: []
      },
      isBuyerSupplier: false
    };
  },
  computed: mapState({
    email: state => state.user.email,
    loading: state => state.loading,
    error: state => state.errorMsg,
    success: state => state.successMsg
  }),
  watch: {
    'registerForm.buyer': function(val) {
      if (val == 'supplier') {
        this.isBuyerSupplier = true;
      } else {
        this.isBuyerSupplier = false;
      }
    }
  },
  methods: {
    ...mapActions(['signup']),
    onSubmit() {
      this.signup(this.registerForm)
        .then(() => {
          console.log('success');
          this.$router.replace({ path: '/login' });
        })
        .catch(() => {
          console.log('error');
          this.$message.error(this.error);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.select {
  width: 100%;
}
.register {
  min-height: calc(100vh - 100px);
  padding-top: 1rem;
  overflow-x: hidden;
}
.checkbox-tnc {
  padding: 0;
  line-height: 1.5;
  text-align: left;
}
.password-score {
  max-width: 250px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}
el-select el-input {
  width: 70px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
</style>
